:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#ffffff;
    --ternary:#898989;
    --light:#F2F2F2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}

header{
    background:#161616;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 90%, 0 100%);

}

.container{
    max-width:1152px;
    padding: 0 15px;
    margin:0 auto;
}

header nav .left a{
    color: #F2F2F2;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left a:hover{
    color:turquoise;
}
.flex{
    display:flex;
}

.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
body{
    font-family: 'poppins',sans-serif;
}
header nav{
    padding: 1rem 0;
}
header nav .branding{
    margin-right: 4rem;
}
.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}
.btn-primary{
    background:turquoise;
    color: var(--dark);
}
.btn-primary:hover{
    border-color: turquoise;
    background: transparent;
    color: turquoise;
}
.neha .left img{
    width 300px;
}
.neha .right{
    color:white;
    margin-left: 2rem;
    margin-top: -7rem;
}
.neha .right h4{
    color:lightcoral;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    font-weight: lighter;
}

.neha .right h1{
    font-size: 2rem;
    font-weight:lighter;
    line-height:2rem ;
    margin-bottom: 1.5rem;
}
.neha .right h1 span{
    color: lightcoral;
}
.neha .right p{
    line-height: 1.9;
    margin-bottom: 1rem;
}
.btn-secondary{
    background: transparent;
    color: turquoise;
    border-color: turquoise;
}
.btn-secondary:hover{
    color:black;
    background: turquoise;
    transition: all .3s ease;
}
section{
    padding-left: 26rem;
    padding-top: 10rem;
    margin-bottom: 8rem;
}
.aboutwrite{
    padding-left: 3rem;
    padding-right: 1rem;
    width: 335px;
}
section .aboutwrite h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;

}
section .aboutwrite h1 span{
    color:turquoise;
}
section .aboutwrite h3{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
}
section .aboutwrite p{
    color: gray;
    line-height: 1.9;
}